DOWNLOAD_CLIENT=qbittorrent
DL_SCHEME=https
DL_HOST=192.168.1.123
DL_PORT=8080
DL_USERNAME=admin
DL_PASSWORD=
DL_API_KEY=
DL_CATEGORY=abb-downloader
SAVE_PATH_BASE=/audiobooks
ABB_HOSTNAME=audiobookbay.lu
PAGE_LIMIT=5
SEARCH_COOLDOWN_SECONDS=5
SEARCH_CACHE_TTL_SECONDS=900
PORT=5078
